@import "../reset.scss",
"../base.scss",
"../mixins/fonts.scss",
"../mixins/button-designer.scss",
"../components/header.scss",
"../components/footer.scss",
"../mixins/nft-card.scss";


.rankings {

    &__headline-subhead {
        padding: 80px 0px;
    }

    &__headline {
        @include work-sans(600, 51px, 110%, #fff);
        margin-bottom: 20px;
    }

    &__subhead {
        @include work-sans(400, 22px, 160%, #fff);
    }

    &__categories {
        display: flex;
        height: 60px;
    }

    &__item {
        display: inline-block;
        text-align: center;
        width: 25%;
        padding: 14.5px 0px;
        transition: 0.35s;

        &:hover {
            border-bottom: 1px solid #858584;

            .rankings__categories-mark {
                color: #fff;
            }
        }
    }

    &__categories-mark {
        @include work-sans(600, 22px, 140%, #858584);
    }

    &__main-section {
        padding: 40px 0px;
    }

    &__table-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__table-head {
        @include space-mono(400, 16px, 140%, #858584);
        height: 46px;
        border: 1px solid #3B3B3B;
        border-radius: 20px;
        padding: 0px 20px;
    }

    .table-head__rank-artist {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    .table-head__rank {
        width: 30px;
    }

    .table-head__stats {
        display: flex;
        column-gap: 20px;
        align-items: center;

        &>* {
            width: 160px;
        }
    }

    .table-data__row {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .table-data__item {
        display: flex;
        justify-content: space-between;
        background-color: #3B3B3B;
        border-radius: 20px;
        padding: 12px 20px;
    }

    .table-data__rank-artist {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }

    .table-data__rank {
        @include space-mono(400, 16px, 140%, #fff);
        width: 30px;
        height: 30px;
        background-color: #2B2B2B;
        border-radius: 20px;
        text-align: center;
        padding-top: 4px;
    }

    .table-data__artist {
        display: flex;
        align-items: center;
        column-gap: 20px;
        transition: 0.35s;

        &:hover {
            transform: scale(0.95);
        }
    }

    .table-data__artist-icon {
        width: 60px;
        height: 60px;
        border-radius: 100px;
    }

    .table-data__artist-name {
        @include work-sans(600, 22px, 140%, #ffF);
    }

    .table-data__stats {
        display: flex;
        align-items: center;
        column-gap: 20px;

        &>* {
            @include space-mono(400, 16px, 140%, #fff);
            width: 160px;
        }
    }

    .table-data__change {
        color: #00AC4F;
    }
}

@media screen and (min-width:834px) and (max-width:1279px) {
    .rankings {
        &__headline-subhead {
            padding: 40px 0px;
        }

        &__headline {
            @include work-sans(600, 32px, 120%, #fff);
            margin-bottom: 20px;
        }

        &__subhead {
            @include work-sans(400, 16px, 140%, #fff);
        }

        &__categories-mark {
            @include work-sans(600, 14px, 140%, #858584);
        }

        .table-data__item {
            padding: 14.6px 20px;
        }

        .table-data__rank {
            background-color: inherit;
        }

        .table-data__artist-icon {
            width: 30px;
            height: 30px;
        }

        .table-head__sold,
        .table-data__sold {
            display: none;
        }

        .table-head__stats>*,
        .table-data__stats>* {
            width: 100px;
        }
    }
}

@media screen and (min-width:375px) and (max-width:834px) {
    .rankings {
        &__headline-subhead {
            padding: 30px 0px;
        }

        &__headline {
            @include work-sans(600, 28px, 140%, #fff);
            margin-bottom: 10px;
        }

        &__subhead {
            @include work-sans(400, 16px, 140%, #fff);
        }



        &__table-head {
            @include space-mono(400, 12px, 110%, #858584);
        }

        .table-data__item {
            padding: 13px 18px;
        }

        .table-data__rank-artist{
            column-gap: 10px;
        }

        .table-data__artist{
            column-gap: 12px;
        }

        .table-data__rank {
            background-color: inherit;
            width: 24px;
            height: 24px;
            padding-top: 6px;
            @include space-mono(400, 12px, 110%, #858584);
        }

        .table-data__artist-icon {
            width: 24px;
            height: 24px;
        }

        .table-data__artist-name {
            @include work-sans(400, 16px, 140%, #ffF);
        }

        .table-data__volume{
            @include space-mono(400,12px,110%,#fff);
        }

        .table-head__sold,
        .table-data__sold,
        .table-head__change,
        .table-data__change {
            display: none;
        }

        .table-head__stats>*,
        .table-data__stats>* {
            width: 80px;
        }
    }
}